body {
 margin: 0;    
}

.main {
  position: relative;
  background-image: url(/assents/header/bg-image.png);
  width: 1600px;
  left: 50%;
  margin-left: -800px;
  
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  
    
}

#twoleft{
  margin-left: 268px;
  margin-top: 295px;
  height: 233px;
  width: 407px;
  
}

#threeright{
  margin-left: 248px;
  margin-top: 120px;
  height: 582px;
  width: 407px;
  
}

#your-life {
  width: 1600px;
  height: 654px;
  display: flex;
    flex-direction: column    ;
 
  align-items: center;
  color: aliceblue;

}
#your-life-h1{
  padding-left: 4px;
  position: relative;
  margin-top: 75px;
  
}



h1 {
  font-size:63px !important; line-height: 0px !important;
  letter-spacing: 5.35px; 
}  

#whatever{
  position: relative;
  margin-top: -60px;
  
  
}
#header {
 
    height: 90px;
    width: 1600px;   
    color: white;      
    font-size: 14px;    
    background-image: url(/assents/header/bg-image.png);
    
}

#href{
  margin-top: 4px;
  position: relative;
  left: 502px;
  top: 25px;
  height: 44px;
  width: 583px;
  
  display: flex;
  flex-direction: row;
  
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 12px;
color: #FFFFFF;
}

.social:hover{
  cursor: pointer;
  -webkit-transform: scale(1.5);
}

.href:hover{
  cursor: pointer;
  border-bottom: 1px  #FFFFFF solid;
  
  

}



#href1{
  border-bottom: 1px  #FFFFFF solid;
}

#href2{
  
  margin-left: 85px;
  
}

#href3{
  margin-top: -7px;
  margin-left: 102px;
}

#href3:hover{
  cursor: pointer;
}

#href4{
  margin-left: 100px;
}

#href5{
  margin-left: 85px;
}




.header-text {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 4.5px;
text-transform: uppercase;
  
}

#button{
  margin-top: 0px;
  margin-left: 1px;
  line-height: 16.41px;
  position: relative;
  padding-top: 11px;
  padding-right: 1.5px;
}

#button2{
  
  line-height: 16.41px;
  position: relative;
  top: 30px;
}


#ttx h2{
margin: -1px 0 0 0 ;

text-transform: uppercase;
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 1px;
text-align: left;
color: #373737;


}
#social-header{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 183px;
  height: 20px;
  width: 170px;
  
}

#text33{
  height: 80px;
  width: 407px;
  padding-top: 20px;
}

#ttx2{
  margin: 0px ;
  padding: 0px;
  height: 28px;
  width: 369px;
}

#ttx2 h2{
  margin: 0px ;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: left;
  color: #373737;
  ;
  
  }

#button3{
  
  line-height: 16.41px;
  position: relative;
  top: 10px;
}

#button3 button{
  
  background-color: #00AFDB;
  border: none;
  color: white;
  height: 46px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
    line-height: 16px;
  letter-spacing: 0px;
  text-align: center;

}

#button3 button:hover{
cursor: pointer;
background-color: #009CC2;
}

#p2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 144%;  
  margin-top: 1px;
  
  
  color: #4E4E4E;

}





button {
  background-color: #00AFDB;
  border: none;
  color: white;
  height: 46px;
  width: 184px;  
  text-decoration: none;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  justify-content: center;
  align-items: center;
  
  
}

button:hover{
  background-color: #009CC2;
  cursor: pointer;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.header-text-normal {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
line-height: 142%;
text-align: center;

  
}


#represent {
  margin-left: 1px;
  display: flex;
  flex-direction: row;  
  height: 842px;
  width: 1600px;
  
}

#community {
  height: 504px;
  width: 1600px;
  background-color: #F5F6F7;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#zero{
  height: 0px;
  width: 0px;
}

#nav-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 83px;
  height: 20px;
  position: relative;  
  margin-top: -171px;
  margin-left: 1248px;
 

}

#arrow-left{
  width: 9px;
  height: 14px;
 
}

#arrow-left:hover{
cursor: pointer;
opacity: 0.5;
}

#pagination{
  display: flex;
  flex-direction: row;
  
  align-items: center;
  width: 37px;
  height: 18px;
 
}

#pagination-number{
  width: 11px;
  height: 18px;
  
}

#pagination-center{
  width: 7px;
  height: 18px;
  padding-left: 4px;
  padding-right: 4px;
}



#pagination p {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
margin-left: 1px;
margin-top: 0px;
line-height: 100%;
letter-spacing: 4px;

}
#arrow-right{
  width: 9px;
  height: 14px;

}

#arrow-right:hover{
  cursor: pointer;
  opacity: 0.5;
  }


#community-left{
  position: relative;
  
  width: 298px;
  height: 175px;
 margin-left: 269px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#community-left-avatar{
  margin-left: 1px ;
  width: 45px;
  height: 45px;
}

#community-left-h2{
  margin-top: 20px;
  margin-left: 3px;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 2.4px;
text-transform: uppercase;
color: #373737;
}

#community-left-p{
  margin-top: -2px;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 148%;
letter-spacing: 0px;
/* or 20px */

display: flex;
align-items: flex-end;
text-align: center;

color: #4E4E4E;
}

#community-right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 894px;
  height: 244px;
  margin-left: 139px;
  margin-top: -20px;
  overflow: hidden;
  

}


.community-image{
  padding-right: 30px;
  width: 407px;
  height: 244px;
  
}

#implement {
  display: flex;
  flex-direction: row;
  height: 842px;
  width: 1600px;
 
}

#implement-left{
  width: 407px;
  height: 582px;
  margin-left: 269px;
  margin-top: 120px;
  
}

#implement-right{
  display: flex;
  flex-direction: column;
  width: 407px;
  height: 184px;
  margin-left: 139px;
  margin-top: 319px;
  
}



#signup {
  
  height: 524px;
  width: 1600px;
  background-image: url(/assents/signup/image.png) ;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#signup1{
  margin-top: 200px;
  width: 385px; /* !!!!!!!!!!!!! 385!*/
  height: 28px;
  
}

#signup1 h2{
  margin-top: 0px ;margin-left: 3px;
/*text-transform: uppercase;
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
letter-spacing: 1px;
text-align: left;
color: #373737;*/
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
}

#signup2{
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
  width: 406px;
  height: 46px;
  background-color: red;
}
input[type=submit] {
  background-color: #00AFDB;
  background-image: url(/assents/signup/fa-check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  color: white;
  padding: 15.5px 33px;
  text-decoration: none;
  margin-top: 4px;
  cursor: pointer;
  outline: none;
}

input:hover[type=submit]{
  background-color: #009CC2;
  outline: none;
}
#email-input{
  width: 312px;
  height:40px;
  border: 2px solid #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding-left: 22px;
  outline: none;

}

#email-input:invalid:not(:placeholder-shown) {
  border-color: red;
}
#email-input:valid:not(:placeholder-shown) {
  border-color: green;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 464px;
  width: 1600px;
  background-color: #F5F6F7;
  
}

#aaaa{
  margin-top: 120px;
  margin-left: 2px;
  height: 28px;
  width: 251px;
  
}

#aaaa h2{
  margin-top: 1px ;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: left;
  color: #373737;
}

#app-text{
  padding-top: 5px;
  margin-top: 19px;
  width: 483px;
  height: 40px;
  
}

#apple{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 26px;
  width: 402px;
  height: 46px;
  

}
#apple-button{
  display: flex;
  flex-direction: row;  
  width: 186px;
  height: 46px;
  background-color: #00AFDB;
  
}

#apple-button:hover{
  cursor: pointer;
  background-color: #009CC2;
  
}

.button-left{
  width: 127px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 46px;
  background-color: #009CC2;
}

.button-left p{
  padding-top: 2px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}


#apple-icon{
  margin-left: -1px;
  margin-top: -2px;
  width: 16px;
  height: 18px;
}

#android-icon{
  margin-top: -4px;
  margin-left: -2px;
  width: 19px;
  height: 18px;
}

#footer {
  display: flex;
  flex-direction: row;
  height: 185px;
  width: 1600px;
  background-color: black;
}

#left-footer{  
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  width: 236px;
  position: relative;
  margin-left: 160px;
  margin-top: 73px;
  
}

#right-footer{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 20px;
  width: 170px;
  position: relative;
  margin-left: 448px;
  margin-top: 73px;
  
}

#logo-footer{
  height: 44px;
  width: 44px;
  position: relative;
  margin-left: 382px;
  margin-top: 60px;
  color: white;
}

#logo-footer:hover{
  cursor: pointer;
}

.footer-text-left{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}

.footer-text-left:hover{
  cursor: pointer;
  text-decoration: underline;
}

.footer-text-right{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #818181;
}